% vim: ft=erlang
{global_rebar_dir, ".rebar3"}.

{plugins, [
    {mira, {git, "git@github.com:miranetworks/rebar3_mira.git", {branch, "master"}}}
]}.

{deps, [
    {mira_platform_tools, {git, "git@github.com:miranetworks/core_platform_tools.git", {branch, "rebar3"}}}  % FIXME: change to master branch once stable
    ,{epgsql,      ".*", {git, "https://github.com/miranetworks/epgsql.git",      {branch, "master"}}}
    ,{epgsql_pool, ".*", {git, "https://github.com/miranetworks/epgsql_pool.git", {branch, "master"}}}
]}.

{minimum_otp_vsn, "20"}.

{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "_build/test"}]}}
]}.

{cover_enabled, true}.

{profiles, [
    {test, [
        {plugins, [ {rebar3_covertool_gen, {git, "git@github.com:idubrov/covertool.git", {ref, "be45cab"}}} ]},
        {deps, [ meck ]}
    ]}
]}.

{edoc_opts, [{private, false}, {todo, true}, {packages, false}, {new, true}]}.
