{deps_dir, ["deps"]}.

{deps,  [
        {covertool, ".*", {git, "git@github.com:miranetworks/covertool.git", {branch, "master"}}},
        {epgsql, ".*", {git, "git@github.com:miranetworks/epgsql.git", {branch, "master"}}},
        {epgsql_pool, ".*", {git, "git@github.com:miranetworks/epgsql_pool.git", {branch, "master"}}}
        ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}] }.

{cover_enabled, true}.

{plugins, [rebar_covertool]}.

{covertool_eunit, ".eunit/eunit.coverage.xml"}. % Output report file name

{edoc_opts, [{private, false}, {todo, true}, {packages, false}, {new, true}]}.

